In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [5]:
rating = pd.read_excel('./rating_data.xlsx')

In [6]:
perfo = pd.read_excel('./performance_data.xlsx')

In [7]:
rating.head(5)

,"NS SHOP+_일자별, 시간대별 시청률 (2019년)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 357,Unnamed: 358,Unnamed: 359,Unnamed: 360,Unnamed: 361,Unnamed: 362,Unnamed: 363,Unnamed: 364,Unnamed: 365,Unnamed: 366
0,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
1,02:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.003
2,02:01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.012,0.003
3,02:02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
4,02:03,0,0,0.014,0,0,0,0,0,0,...,0,0,0.017,0,0,0,0,0,0,0.004

In [9]:
perfo.head(5)

,NS Shop+ 2019.01.01~12.31,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
1,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000
2,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000
3,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000
4,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000

In [10]:
# 이상치 제거

In [ ]:
# 방송 중간시간 ex) 11시 23분 -> 11시 인기방송이 끝날 시점 
# 일주일을 168개의 시간으로 쪼개 범주화한 시간변수
# 일주일을 통으로 측정하는 주 변수
# **인기 상품이 팔리는 프라임 시간대를 요일별로 쪼갠(월수금을 한 묶음으로 나머지 요일은 따로 책정) 프라임 범주형 변수
# 상품분류코드
# 브랜드파워변수
# 방송길이/제품수
# 예보데이터(일주일 전 날씨 정보), 사는 지역만 조사, 미세먼지, 강우량 등
# 다른 방송국의 인기방송 시청률
# 빈도수 낮고 판매수 높은 것들 
# 생활물가지수
# 남성/여성 매출, 연령대별 매출
# 코로나 이펙트